body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background: url("fondo.png"), linear-gradient(to left, #7b4397, #dc2430);
}

.app-container {
  text-align: center;
  background-color: #ed9b40;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  background: url("fondo.png"), linear-gradient(to left, #1d012b, #af0813);
}

#lista-de-datos {
  background-color: #b4d2d9;
  border-radius: 15px;
}
input,
select {
  padding: 8px;
  margin: 5px;
  font-size: 16px;
}

input {
  padding: 8px;
  margin: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61c9a8;
  color: #fff;
  border: none;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-color: #93bbbf;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.delete-btn ion-icon {
  margin-right: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
